html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;

}.Links {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 100px;
  text-decoration: none;
  color: black;
  transition: 0.5s ease-in-out;
}

a {
  font-size: 15px;

&:hover {
  color: red;
}
}

.App {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

h1 {
  display: grid;
  justify-items: center;
  margin-bottom: 25px;

}